*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(111, 40, 244);
}

.app{
    background-color: white;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;    
    padding: 30px;
}

.app h1{
    font-size: 25px;
    color: rgb(111, 40, 244);
    font-weight: 600;
    border-bottom: 1px solid rgb(111, 40, 244);
    padding-bottom: 30px;

}

.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 18px;
    font-weight: 600;
    color: rgb(8, 57, 114);
    margin-bottom: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn{
    background: white;
    color: rgb(8, 57, 114);
    width: 100%;
    font-weight: 700;
    border: 1px solid rgb(156, 114, 234);
    padding: 15px;
    margin: 10px 0;
    cursor: pointer;
    text-align: left;
    transition: 0.3s all;
    border-radius: 10px;
}

.btn:hover:not([disabled]){
    background: rgb(75, 8, 199);
    color: white;
}

.btn:disabled{
    cursor: no-drop;
}

.btn:active{
    background: rgb(50, 7, 130);
}

#nxtbtn{
    background: rgb(111, 40, 244);
    color:white;
    width: 150px;
    padding: 10px;
    border: 0;
    margin: 20px auto 0;
    font-weight: 500;
    border-radius: 4px;
    display: block;
    cursor: pointer;
}

#nxtbtn:hover{
    background: rgb(50, 7, 130);
}

#nxtbtn:active{
    background: rgb(111, 40, 244);
}


.correct{
    background-color: #9aeabc;
    border: none;
}

.wrong{
    background-color: #ff9393;
    border: none;
}


#timer{
    color: rgb(50, 7, 130);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

#startButton{
    background: rgb(111, 40, 244);
    color:white;
    width: 150px;
    padding: 10px;
    border: 0;
    margin: 20px auto 0;
    font-weight: 500;
    border-radius: 4px;
    display: block;
    cursor: pointer;
    margin-top: 60px;
}

#startButton:hover{
    background: rgb(50, 7, 130);
}

#startButton:active{
    background: rgb(111, 40, 244);
}

#instructionPage p{
   color: rgb(8, 57, 114);
   font-size: 20px;
   margin: 20px 0;
}

#instructionPage ul li{
    margin: 15px;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
